<nav>
    <ul>
      <li>
        <a routerLink="" [class.activated]="currentUrl == '/'">
          <i class="material-icons">supervised_user_circle</i>
        </a>
      </li>
      <li>
        <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
          <i class="material-icons">message</i>
        </a>
      </li>

      <li>
        <a routerLink="calculator" [class.activated]="currentUrl == '/calculator'">
          <i class="material-icons">subtitles</i>
        </a>
      </li>

      <li>
        <a routerLink="power-meter" [class.activated]="currentUrl == '/power-meter'">
          <i class="material-icons">subtitles</i>
        </a>
      </li>

    </ul>

    
</nav>